body{
    display:flex;
    justify-content: center;
}
.dark-segment{
    fill: black;
    stroke-width: 0.5;
    stroke:black;
}
.light-segment{
    fill: white;
     stroke-width: 0.5;
    stroke:black;
}
.double-ring.dark-segment,
.triple-ring.dark-segment{
    fill:lightgray;
}

.double-ring.light-segment,
.triple-ring.light-segment{
    fill:gray;
}


.outer-ring{
    fill:gray;
    stroke:none;
}

.bull{
    fill:gray;
}

.outer-bull{
    fill: black;
}

.numbers{
    fill:lightgrey;
    text-anchor: middle;
    dominant-baseline: central;
    font-size: 2em;
}
.svg-box{
    width: 900px;
    height: 900px;
}
.plus{
    fill:green;
}
