body{
    display:flex;
    justify-content: center;
}
#game-container{
    width:800px;
}
nav{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width: 100%;
    height: 60px;
}
.nav-button{
    font-size: 30px;
    font-weight: bold;
    width: max-content;
    padding-left:10px;
    padding-right:10px;
}
#forward-button{
    justify-self: end;
}

#board-name{
    justify-self: center;
    margin:0;
}
#board-container{
    width: 96%;
    margin-left:2%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dark-segment{
    fill: black;
    stroke-width: 0.5;
    stroke:black;
}
.light-segment{
    fill: white;
     stroke-width: 0.5;
    stroke:black;
}
.double-ring.dark-segment,
.triple-ring.dark-segment{
    fill:lightgray;
}

.double-ring.light-segment,
.triple-ring.light-segment{
    fill:gray;
}


.outer-ring{
    fill:gray;
    stroke:none;
}
.outer-ring:hover{
    cursor: pointer;
    
}
.outer-ring:active{
    fill:lightgray;
    stroke:black;
    
}
.outer-ring text{
    fill:lightgray;
}
.outer-ring:active text{
    fill: gray;
    stroke:none;
}
.bull{
    fill:gray;
}

.outer-bull{
    fill: black;
}

.numbers{
    text-anchor: middle;
    dominant-baseline: central;
    font-size: 2em;
}


.plus.dark-segment,
.plus.light-segment{
    fill:green;
}
.minus.dark-segment,
.minus.light-segment{
    fill:yellow;
}
#pop-up{
    width: 40%;
    height:auto;
    padding: 2%;
    height:auto;
    background-color: white;
    z-index: 2;
    position: absolute;
    border-radius: 20px;
    text-align: center;
    
    
}
#pop-up-button{
    font-size: 20px;
    padding: 10px;
}
footer{
    background-color: darkgray;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

#blur{
    position:fixed;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

