body{
    display:flex;
    justify-content: center;
}
nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 800px;
}
.nav-button{
    font-size: 30px;
    font-weight: bold;
}
#board-name{
    height: 40px;
    font-size: 30px;
    text-align: center;
    width: auto;
}
#board-container{
    width: 800px;
    height: 800px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dark-segment{
    fill: black;
    stroke-width: 0.5;
    stroke:black;
}
.light-segment{
    fill: white;
     stroke-width: 0.5;
    stroke:black;
}
.double-ring.dark-segment,
.triple-ring.dark-segment{
    fill:lightgray;
}

.double-ring.light-segment,
.triple-ring.light-segment{
    fill:gray;
}


.outer-ring{
    fill:gray;
    stroke:none;
}
.outer-ring:hover{
    cursor: pointer;
    
}
.outer-ring:active{
    fill:lightgray;
    stroke:black;
    
}
.outer-ring text{
    fill:lightgray;
}
.outer-ring:active text{
    fill: gray;
    stroke:none;
}
.bull{
    fill:gray;
}

.outer-bull{
    fill: black;
}

.numbers{
    text-anchor: middle;
    dominant-baseline: central;
    font-size: 2em;
}


.plus.dark-segment,
.plus.light-segment{
    fill:green;
}
.minus.dark-segment,
.minus.light-segment{
    fill:yellow;
}
#pop-up{
    width: 40%;
    height:auto;
    padding: 2%;
    height:auto;
    background-color: white;
    z-index: 2;
    position: absolute;
    border-radius: 20px;
    text-align: center;
    
    
}
#pop-up-button{
    font-size: 20px;
    padding: 10px;
}
#blur{
    position:fixed;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}
